* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

}

main {
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    height: 90vh;
    background-image: url(../assets/fundo.png);
    background-size:100% ;
}